VITE_SUPABASE_URL=https://zykbhqfkjukdhzdpmbai.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5a2JocWZranVrZGh6ZHBtYmFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY4NzA5NjYsImV4cCI6MjEwMjQ0Njk2Nn0.Xaii5y0cmfRNTSgId8srK161E59Y957pcqMj0eUyhKc
